@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* @font-face {
  font-family: Cocogoose;
  src: url('fonts/cocogoose-pro-trial.ttf');
} */


body {
  font-family: 'lato', sans-serif;
  height: 100vh;
  overflow-x: hidden;
  margin-left: 0;
}

.top-container {
  display: none;
}

.navigation-links {
  display: none;
}

.explanation {
  display: none;
}

.logo{
  display: none;
}

.featured-program {
  display: none;
}

.partner {
  display: none;
}

.end {
  display: none;
}

/*  DOM manipulations */
.mobile-header-nav-links {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin-top: 0;
  height: 100%;
  z-index: 10;
  flex-direction: column;
  padding-top: 5rem;
  line-height: 5rem;
  /* background: #6070ff;
  transition: top 1s ease; */
  /* opacity: 95%; */
}

.close {
  margin-left: 4rem;
  width: 20px;
  height: 20px;
}


.main-background {
  position: absolute;
  width: 100vw;
  height: 100%;
  background-image: url(images/G.O.T.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.main {
  background-color: #d3d1d1;
  border-bottom: 1px solid #d3d3d3;
  height: 75vh;
  width: 100vw;
}

.welcome-text {
  padding-left: 1rem;
  color: #f42639;
  padding-top: 2rem;
  margin-bottom: 0;
  font-size: 21px;
}

.main h1 {
  /* margin-top: 0.5rem; */
  /* font-family: 'cocogoose', serif; */
  padding-left: 1rem;
  font-size: 30px;
  text-transform: capitalize;
}

.mobile-explanation {
  border: 2px solid #dbdbdb;
  text-align: center;
  line-height: 1.4rem;
  font-size: 18px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #817878;
}
.main h2 {
  font-size: 19px;
  color: #545454;
  padding-left: 1rem;
}

.main h3 {
  font-size: 16px;
  padding-left: 1rem;
  color: #454343;
}

.featured-display {
  background-color: rgb(39, 42, 49);
  height: 110vh;
  width: 100vw;
}

.featured-display h2 {
  margin-top: 0;
  text-align: center;
  padding-top: 2rem;
  color: white;
}

.program-display {
  display: flex;
}

.program-display p {
  color: #fff;
  padding-left: 1rem;
  padding-right: 0.8rem;
}

.program {
  padding-left: 0;
  text-align: center;
}

.program li {
  list-style-type: none;
  background: #3c3f46;
  margin-bottom: 0.8rem;
  border: 2px solid #3c3f46;
}

.program h3 {
  /* font-size: 22px;
  font-weight: 700; */
  color: #f42639;
  padding-left: 1rem;
}

.program .program-display .program-h3 {
  padding-left: 2rem;
}

.featured-display li {
  text-align: center;
}

.featured-display li i {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 20px;
}

.program-display .program-p {
  padding-left: 2rem;
  padding-right: 0.8rem;
}

.program-display .program-p1 {
  padding-left: 3rem;
  padding-right: 0.8rem;
}

.featured-display h4 {
  background-color: rgb(245, 48, 48);
  text-align: center;
  margin: 2rem 1.4rem;
  padding: 1rem 1.5rem;
  border: 1px solid #f42639;
  margin-bottom: 0;
}

.featured-display h4 a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 18px;
}

.featured-speakers {
  margin-top: 0;
  margin-bottom: 0;
  width: 100vw;
  border-bottom: 1px solid #d3d3d3;
  /* padding-bottom: 2rem; */
  background-color: #fff;
}

.featured-speakers h2 {
  color: rgb(39, 42, 49);
  text-align: center;
  padding-bottom: 2rem;
}

.checkers {
  position: relative;
  bottom: 3rem;
  width: 100px;
  height: 90px;
}

.featured-image {
  position: relative;
  right: 4.8rem;
  width: 50%;
  height: 120px;
}

.speakers li {
  list-style-type: none;
  padding-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .mobile-header-nav-links {
    display: none;
  }

  .menu, .close {
    display: none !important;
  }

  .mobile-explanation {
    display: none;
  }

  .featured-display {
    display: none;
  }

  header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 3;
  }
  
  .top-container {
    align-items: center;
    background-color: rgb(67, 67, 67);
  }
  
  .top-links {
    display: flex;
    padding-right: 2.5rem;
  }
  
  .top-links li {
    list-style-type: none;
  }
  
  .font-icon {
    color: white;
  }
  
  .top-links li a {
    padding: 0 1.5rem;
    color: white;
    text-decoration: none;
  }
  
  .top-content {
    justify-content: flex-end;
  }
  
  .logo {
    display: block;
    width: 100px;
    height: 55px;
  }
  
  .navigation-links li {
    list-style-type: none;
  }
  
  .navigation-links li a {
    text-decoration: none;
    color: #817878;
    padding: 0 1.5rem;
    font-size: 19px;
  }
  
  .navigation-links li a:hover {
    color: #ec4252;
  }
  
  .program-container .navigation-links .tickets {
    border: 4px solid #f42639;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
  
  .program-container {
    height: 3vh;
    margin: 0;
    padding: 20px;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #d3d3d3;
  }
  
  .flex {
    display: flex;
  }
  
  .content {
    justify-content: space-evenly;
  }
  
  .navigation-links {
    display: flex;
  }
  
  .main {
    margin-bottom: 0;
    margin-top: 0;
    height: 100vh;
    width: 100vw;
    border-bottom: 1px solid #d3d3d3;
    background-color: #fff;
  }
  
  /* .main div {
    height: 100vh;
    background-image: url(images/G.O.T.jpg);
  
  } */
  
  .welcome-text, .main h1, .main h2, .main h3 {
    padding-left: 8.5rem;
  }
  
  .welcome-text {
    padding-top: 8rem;
    margin-bottom: 0;
    font-size: 36px;
  }
  
  .main h1 {
    margin-top: 0.5rem;
    font-size: 40px;
    text-transform: capitalize;
  }
  
  .explanation {
    display: block;
    width: 50%;
    border: 2px solid #dbdbdb;
    line-height: 1.4rem;
    font-size: 18px;
    color: #817878;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 8.5rem;
    padding-left: 20px;
    padding-right: 20px;;
  }
  
  .main h2 {
    font-size: 26px;
    color: #272a31;
    font-weight: 900;
  }
  
  .main h3 {
    font-size: 20px;
    color: #454343;
    font-weight: 900;
  }
  
  .featured-program {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    width: 100vw;
    border-bottom: 1px solid #d3d3d3;
    background-color: rgb(39, 42, 49);
  }
  
  .program-list {
    display: grid;
    height: 250px;
    margin-right: 2.1rem;
    align-content: space-around;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
  }
  
  .program-list li {
    text-align: center;
    list-style-type: none;
    background: #3c3f46;
    margin-bottom: 2rem;
    border: 2px solid #3c3f46;
  }

  .program-list li i {
    color: #fff;
    font-size: 30px;
  }
  
  .program-list li h3 {
    font-size: 22px;
    font-weight: 700;
    color: #ec4252;
  }
  
  .program-list li h3, .program-list li p {
    text-align: center;
  }
  
  .program-list li p {
    color: white;
    font-weight: 700;
  }
  
  .featured-speakers {
    margin-top: 0;
    margin-bottom: 0;
    width: 100vw;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 2rem;
    background-color: #eeeeee;
  }
  
  .featured-program h2 {
    margin-top: 0;
    text-align: center;
    padding-top: 2rem;
    color: white;
  }
  
  .featured-program h4 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 0.5rem;
    padding-bottom: 4rem;
  }
  
  .featured-program h4 > a {
    color: white;
  }
  
  .checkers {
    position: relative;
    bottom: 2.7rem;
    width: 80px;
    height: 70px;
  }
  
  .featured-speakers h2 {
    margin-top: 0;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
  }
  
  .featured-image {
    position: relative;
    right: 4rem;
    width: 120px;
    height: 100px;
  }
  
  .speakers {
    display: grid;
    margin-left: 6rem;
    margin-right: 8.1rem;
    align-content: space-around;
    grid-template-columns: auto auto;
    grid-row-gap: 40px;
    grid-column-gap: 30px;
  }

  .speakers li {
    padding-bottom: 0;
  }
  
  .p-colour {
    color: #ec4252;
  }
  
  .p-spacing {
    line-height: 1.3rem;
    word-spacing: 0.3rem;
  }
  
  .partner {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    width: 100vw;
    border-bottom: 1px solid #d3d3d3;
    background-color: #272a31;
    height: 45vh;
  }
  
  .partner h2 {
    margin-top: 0;
    text-align: center;
    color: white;
    padding-top: 2.5rem;
    letter-spacing: 0.2rem;
    font-size: 26px;
  }
  
  .partner .empty {
    width: 50px;
    background-color: #ec4252;
    height: 2px;
    margin-bottom: 2rem;
    margin-left: 46vw;
  }
  
  .partner .partner-img {
    display: grid;
    align-content: space-around;
    grid-template-columns: auto auto auto;
    justify-items: center;
    padding-top: 2rem;
  }
  
  .partner div img {
    height: 100px;
    width: 190px;
  }
  
  .display {
    display: flex;
  }
  
  .end {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    width: 100vw;
    border-bottom: 1px solid #d3d3d3;
    height: 25vh;
    background-color: #eeeeee;
  }
  
  .end-logo {
    width: 180px;
    height: 120px;
    padding-top: 1.3rem;
    padding-left: 4rem;
  }
  
  .end p {
    font-size: 19px;
    padding-left: 5.5rem;
    padding-top: 3rem;
  }
}
